---
import { Icon } from "astro-icon/components"
const {initYear, present, endYear, image_1} = Astro.props
import Image from '~/components/common/Image.astro';
import { getLocaleFromUrl, useTranslations } from "~/i18n/translator";
const locale = getLocaleFromUrl(Astro.url)
const {t} = useTranslations(locale)
const lwcs = (word) => word.charAt(0).toUpperCase()+ word.slice(1)
---
<>
   <div data-aos="fade-up" class="grid md:grid-cols-2  rounded-xl gap-1 pt-10">
        <div class="bg-[#EFEFF0] dark:bg-[#282828] rounded-xl md:rounded-none md:rounded-tl-xl  md:rounded-bl-xl py-7 px-8 flex items-center justify-center flex-col space-y-2">
          <Icon class='color-brand-light'  size={20} name='calendar'/>
          <slot name="dates"/>
          <time datetime={String(initYear)} class="inline-block">{lwcs(new Date(initYear).toLocaleString(t('code'), {month: 'long',year: 'numeric'}))} -  {present? t('present') : lwcs(new Date(endYear).toLocaleString(t('code'), {month: 'long',year: 'numeric'}))}</time>
          <p class="text-sm">{t('projects.timeline')}</p>
        </div>
        <div class="bg-[#EFEFF0] dark:bg-[#282828]  rounded-xl md:rounded-none md:rounded-tr-xl  md:rounded-br-xl py-7 px-8 flex items-center justify-center flex-col space-y-2">
          <Icon class='color-brand-light' size={20} name="user"/>
          <slot name="role"/>
          <p class="text-sm">{t('projects.role')}</p>
        </div>
      </div>
      <div data-aos="fade-up" class="flex items-start justify-center py-10  flex-col space-y-3 md:space-y-0 md:flex-row">
        <div class="flex-initial min-w-[250px]">
          <h3 class="text-xl font-medium">{t('projects.background')}</h3>
        </div>
        <div class="flex-1">
            <slot name="background"/>
        </div>
      </div>
      <hr>
      <div data-aos="fade-up" class="flex items-start justify-center py-10  flex-col space-y-5 md:space-y-0 md:flex-row">
        <div class="flex-initial min-w-[250px]">
          <h3 class="text-xl font-medium">{t('projects.goals')}</h3>
        </div>
        <div class="flex-1 space-y-6">
          <slot name="goals"/>
        </div>
      </div>
      {

        image_1 ? (
          <div
          data-aos="fade-up"
          >
  <Image
            src={image_1}
            class="max-w-full   mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={"Image of the project"}
            width={900}
            height={506}
            loading="eager"
            decoding="async"
          />
          </div>
        
        ) : (
          <div data-aos="fade-up" class="max-w-3xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }

     <slot name="image-1"/>
      <div data-aos="fade-up" class="flex items-start justify-center py-10  flex-col space-y-5 md:space-y-0 md:flex-row">
        <div class="flex-initial min-w-[250px]">
          <h3 class="text-xl font-medium">{t('projects.solutions')}</h3>
        </div>
        <div class="flex-1 space-y-6">
          <slot name="solutions"/>
      
        </div>
      </div>
      <hr>
      <div data-aos="fade-up" class="flex items-start justify-center py-10  flex-col space-y-5 md:space-y-0 md:flex-row ">
        <div class="flex-initial min-w-[250px]">
          <h3 class="text-xl font-medium">{t('projects.tools')}</h3>
        </div>
        <div class="flex-1 gap-1 rounded-xl grid grid-cols-2 ">
          <slot name="tools"/>
   
        </div>
      </div>
      <div data-aos="fade-up">
        <slot name="testimonial"/>
      </div>
      <div data-aos="fade-up" class="flex items-start justify-center py-10  flex-col space-y-5 md:space-y-0 md:flex-row">
        <div class="flex-initial min-w-[250px]">
          <h3 class="text-xl font-medium">{t('projects.conclusion')}</h3>
        </div>
        <div class="flex-1 ">
          <slot name="conclusion"/>
        </div>
      </div>
      <hr>
</>
