@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
}
.text-subtitle {
  @apply text-[#666666] dark:text-[#A3A3A3]
}
p {
  @apply text-[#717171] dark:text-[#9A9A9A]
}
.color-brand {
  @apply text-[#A30000] fill-[#A30000] dark:text-[#ff5c5c] dark:fill-[#ff5c5c]
}
.color-brand-light {
  @apply text-[#a3000073] fill-[#a3000073] dark:text-[#ffc9c9] dark:fill-[#ffc9c9]
}
.bg-color-brand {
  @apply bg-[#A30000] dark:bg-[#ff5c5c]
}
.bg-color-brand-light {
  @apply bg-[#a3000073] dark:bg-[#ffc9c9]
}
hr {
  @apply dark:border-[#272727]
}
@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-2.5 px-4  ease-in duration-200   hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer;
  }

  .btn-primary {
    @apply btn transition shadow-md text-sm xl:text-xs;
    background-color: #303236;
    border-radius: 12px;
    opacity: 1;
    height: 100%;
    font: 500;
    color: white;
   
  }
  .btn-primary:hover{
    background-color: #1a1b1d;
  }
  .btn-secondary {
    @apply btn transition shadow-md text-sm xl:text-xs;
    background-color:transparent;
    border-radius: 12px;
    opacity: 1;
    font: 500;
    color: #303236;
    border: 1px solid #9EA1A8
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}

#header.scroll > div:first-child {
  @apply bg-page md:bg-white/90 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-[#030621e6] border-b border-gray-500/20;
  box-shadow: none;
}
/* #header.scroll > div:last-child {
  @apply py-3;
} */

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}
