---
import {Sidebar} from '@/components/widgets/Sidebar/Sidebar.jsx';
import Layout from '@/layouts/Layout.astro';

import type { MetaData } from '@/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement">
  </slot>
  <div class="flex">
    <Sidebar client:load />
    <main class="flex-1">
      <slot />
    </main>
  </div>
  <slot name="footer">
  </slot>
</Layout>
