---
import Item from "../widgets/TestimonialItem.astro"
import { twMerge } from 'tailwind-merge';
import type { ItemGrid, Testimonial } from '~/types';

const { title, items = [], columns} = Astro.props as ItemGrid;


---

{
  items && (
    <div id="testimonial-grid" class="space-y-10 max-h-[700px] overflow-hidden  relative  grid-element-testimonial">
        <div id="element-gradient"class="absolute top-0 left-0 w-full h-full bg-gradient-to-white dark:bg-gradient-to-black z-10">
        </div>
        <div>
          <h2 class="text-2xl font-[500]">{title}</h2>
        </div>
        <div
          class={twMerge(
            `grid mx-auto gap-8 md:gap-y-12 ${
              columns === 4
                ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
                : columns === 3
                ? 'lg:grid-cols-3 sm:grid-cols-2'
                : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
            }`,
          )}
        >
          {items.map((item : Testimonial) => (
            <Item  item={item}/>
          ))}
        </div>
    </div>
  
  )
}
<div class="flex items-center justify-center mt-4">
  <slot/>
</div>

<style>
  .grid-element-testimonial {
    transition: max-height 0.5s ease-in-out;

  }
</style>

